body {
  font-family: "Quicksand", sans-serif;
  background: url("./assets/nebula.jpg") no-repeat center center fixed;
  background-size: cover;
}

header {
  text-align: center;
  height: 117px;
}
header h1 {
  font-family: "Anurati";
  color: #f5d5e0;
  font-size: 50px;
  margin: 25px;
  display: inline-block;
  letter-spacing: 2px;
}
@media (max-width: 540px) {
  header h1 {
    font-size: 32px;
  }
}

h2 {
  margin: 0;
  padding-top: 5px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 540px) {
  main .main-content {
    width: 540px;
  }
}
@media (max-width: 540px) {
  main .main-content {
    width: 380px;
    flex-wrap: wrap;
  }
}

.chooseCharacters {
  background-color: #f5d5e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
}

.selectDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 98%;
  background-image: linear-gradient(180deg, #c874b2, #f5d5e0);
  margin: 5px;
  font-weight: bold;
}
.selectDiv label {
  margin: 5px;
}
.selectDiv button {
  font-family: "Quicksand";
  font-weight: 700;
  background-color: #c874b2;
  border-radius: 10px;
  color: #210535;
  padding: 2px 10px;
  font-size: 12px;
  box-shadow: 0 0 4px 1px #7b337d;
  border: none;
}
.selectDiv button:hover {
  background-color: #7b337d;
  color: white;
}

.compareBtn {
  font-family: "Quicksand";
  font-weight: 700;
  background-color: #c874b2;
  border-radius: 10px;
  color: #210535;
  padding: 2px 10px;
  font-size: 12px;
  box-shadow: 0 0 4px 1px #7b337d;
  border: none;
}
.compareBtn:hover {
  background-color: #7b337d;
  color: white;
}

.characterDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
@media (max-width: 540px) {
  .characterDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.charactercard {
  color: #FFFFFB;
  font-weight: bold;
  text-align: center;
}
.charactercard img {
  width: 250px;
  height: 250px;
  border-radius: 4px;
}
@media (max-width: 540px) {
  .charactercard img {
    width: 150px;
    height: 150px;
  }
}

.compare {
  text-align: center;
}

.statsDiv label {
  display: block;
  margin-top: 16px;
  text-align: center;
  color: #210535;
}
.statsDiv div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 0 10px;
  color: #210535;
}
.statsDiv div div {
  font-size: 24px;
}

.compareDiv {
  background-image: linear-gradient(180deg, #c874b2, #f5d5e0);
  border-radius: 10px;
}

.comparison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

progress {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 19px;
  margin-top: 16px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
progress::-webkit-progress-bar {
  background-color: #FFFFFB;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: #7b337d;
  border-radius: 10px;
}
progress::after {
  content: attr(value);
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 540px) {
  progress {
    width: 90%;
  }
}

.leftDiv {
  text-align: right;
}
.leftDiv progress {
  direction: rtl;
}

.infoBox {
  background-color: rgba(67, 13, 75, 0.75);
  color: #f5d5e0;
  text-align: center;
  border-radius: 10px;
  min-height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-weight: normal;
}
.infoBox p {
  margin: 0;
}
.infoBox .loading-modal {
  color: #f5d5e0;
}

.characterMethods {
  text-align: center;
}
.characterMethods button {
  margin: 5px;
}

button {
  font-family: "Quicksand";
  font-weight: 700;
  background-color: #c874b2;
  border-radius: 10px;
  color: #210535;
  margin: 5px 0;
  font-size: 12px;
  border: none;
}
button:hover {
  background-color: #7b337d;
  color: white;
}
@media (max-width: 540px) {
  button {
    margin: 0;
    font-size: 11px;
  }
}/*# sourceMappingURL=style.css.map */